In [2]:
#Question1:
import pandas as pd
l= [4,8,15,16,23,42]
pd.Series(l)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
#Question2:

l = [2,4,5,6,23,43,54,65,34,10]
pd.Series(l)

0     2
1     4
2     5
3     6
4    23
5    43
6    54
7    65
8    34
9    10
dtype: int64

In [4]:
#Question 3:

df = pd.DataFrame({'Name':['Alice','Bob','Claire'],'Age':[25,30,27],'Gender':['Female','Male','Female']})

In [5]:
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [8]:
#Question 4:

A pandas DataFrame is a two-dimensional data structure that can be thought of as a spreadsheet. It can also be thought of as a collection of two or more series with common indices.
Example:
fruits_jack = ['apple','oranges','bananas']
fruits_john= ['guava','kiwis','strawberries']
index = ['a','b','c']
all_fruits = {'Jack':fruits_jack,'John':fruits_john}
df = pd.DataFrame(all_fruits, index = index)

In [9]:
df

      Jack          John
a    apple         guava
b  oranges         kiwis
c  bananas  strawberries

In [11]:
A pandas series is a one-dimensional data structure that comprises of key-value pair, where keys/labels are the indices and values are the values stored on that index. It is similar to a python dictionary, except it provides more freedom to manipulate and edit the data.
Example:
fruits = pd.Series(['apple','oranges','bananas'])

In [12]:
fruits

0      apple
1    oranges
2    bananas
dtype: object

In [13]:
#Question 5:

df= pd.read_csv('output.csv')

In [14]:
df

,FinInstrmGnlAttrbts.Id,FinInstrmGnlAttrbts.FullNm,FinInstrmGnlAttrbts.ClssfctnTp,FinInstrmGnlAttrbts.CmmdtyDerivInd,FinInstrmGnlAttrbts.NtnlCcy,Issr
0,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,549300GDPG70E3MBBU98
1,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,549300GDPG70E3MBBU98
2,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,549300GDPG70E3MBBU98
3,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,549300GDPG70E3MBBU98
4,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,PWEFG14QWWESISQ84C69
...,...,...,...,...,...,...
141376,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,529900UT4DG0LG5R9O07
141377,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,529900UT4DG0LG5R9O07
141378,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,529900UT4DG0LG5R9O07
141379,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,529900UT4DG0LG5R9O07
141380,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,529900UT4DG0LG5R9O07

In [15]:
type(df)

pandas.core.frame.DataFrame

In [19]:
df.head(10)

,FinInstrmGnlAttrbts.Id,FinInstrmGnlAttrbts.FullNm,FinInstrmGnlAttrbts.ClssfctnTp,FinInstrmGnlAttrbts.CmmdtyDerivInd,FinInstrmGnlAttrbts.NtnlCcy,Issr
0,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,549300GDPG70E3MBBU98
1,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,549300GDPG70E3MBBU98
2,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,549300GDPG70E3MBBU98
3,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,549300GDPG70E3MBBU98
4,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,PWEFG14QWWESISQ84C69
5,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,PWEFG14QWWESISQ84C69
6,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,PWEFG14QWWESISQ84C69
7,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,391200ITQQZ7JMHXK080
8,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,391200ITQQZ7JMHXK080
9,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,391200ITQQZ7JMHXK080

In [18]:
df.tail(10)

,FinInstrmGnlAttrbts.Id,FinInstrmGnlAttrbts.FullNm,FinInstrmGnlAttrbts.ClssfctnTp,FinInstrmGnlAttrbts.CmmdtyDerivInd,FinInstrmGnlAttrbts.NtnlCcy,Issr
141371,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,529900UT4DG0LG5R9O07
141372,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,529900UT4DG0LG5R9O07
141373,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,529900UT4DG0LG5R9O07
141374,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,529900UT4DG0LG5R9O07
141375,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,529900UT4DG0LG5R9O07
141376,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,529900UT4DG0LG5R9O07
141377,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,529900UT4DG0LG5R9O07
141378,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,529900UT4DG0LG5R9O07
141379,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,529900UT4DG0LG5R9O07
141380,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,529900UT4DG0LG5R9O07

In [20]:
df.shape

(141381, 6)

In [21]:
df.describe()

,FinInstrmGnlAttrbts.Id,FinInstrmGnlAttrbts.FullNm,FinInstrmGnlAttrbts.ClssfctnTp,FinInstrmGnlAttrbts.CmmdtyDerivInd,FinInstrmGnlAttrbts.NtnlCcy,Issr
count,141381,141381,141381,141381,141381,141381
unique,1,1,1,1,1,271
top,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,529900UT4DG0LG5R9O07
freq,141381,141381,141381,141381,141381,43686

In [22]:
df.dropna()

,FinInstrmGnlAttrbts.Id,FinInstrmGnlAttrbts.FullNm,FinInstrmGnlAttrbts.ClssfctnTp,FinInstrmGnlAttrbts.CmmdtyDerivInd,FinInstrmGnlAttrbts.NtnlCcy,Issr
0,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,549300GDPG70E3MBBU98
1,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,549300GDPG70E3MBBU98
2,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,549300GDPG70E3MBBU98
3,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,549300GDPG70E3MBBU98
4,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,PWEFG14QWWESISQ84C69
...,...,...,...,...,...,...
141376,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,529900UT4DG0LG5R9O07
141377,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,529900UT4DG0LG5R9O07
141378,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,529900UT4DG0LG5R9O07
141379,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,529900UT4DG0LG5R9O07
141380,DE000C42LZJ8,OEMB SI 20210115 PS AM P 112.50 0,OPAIPS,False,USD,529900UT4DG0LG5R9O07

In [ ]:
#Question 6:

Data Frame and Panel both are mutable in pyhton. DataFrame are General 2D labeled, size-mutable tabularstructure with potentially heterogeneously typedcolumns.
Panel are General 3D labeled, size-mutable array.

In [27]:
#Question 7:

courses = pd.Series(['Spark','Hadoop','Python'])
fees = pd.Series([2000,3000,2500])
discount = pd.Series([100,400,200])

df = pd.concat([courses, fees, discount],axis = 1)

In [28]:
df

        0     1    2
0   Spark  2000  100
1  Hadoop  3000  400
2  Python  2500  200

In [29]:
type(df)

pandas.core.frame.DataFrame